/add_multiple_times_together/learning_progress_monitor_操作用.py
/add_multiple_times_together/learning_progress.txt
/test1/test_r.txt
/test1/test_w.txt
/time_clock_para_move/time_clock_history.txt
/time_clock_para_move/time_clock_para_move_操作用.py
/time_clock_para_move/a_temp_file/
/selenium_crawlers/gamerankings_metacritic_top_1000_pc_games_crawler/result_data/
/self_learn_folder/2_do_other_peoples_homework/
/selenium_crawlers/suumo_crawler/list_of_all_companies_that_can_deal_with_foreign_languages.txt
/selenium_crawlers/suumo_crawler/found_houses.csv
